body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: #eee;
    height: auto;
}
main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgb(0 0 0 / 10%), -30px 0px 40px rgb(0 0 0 / 10%);
}


#landing-image {
    height: 100vh;
}
#landing-image {
    background-image: url(../my_images/LAKE_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
}
@media (min-width: 500px){

#landing{
    display:flex;
    height: auto;
}
}

#landing-text {
    height: 100vh;
}
#landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

#landing-image {
    height: 100vh;
}


h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}
#landing-text h2 {
    color: #888;
}
h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}

.btn {
    padding: 1rem 3rem;
}
.btn {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
}

#header {
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #fff;
}
#header h2 {
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
} 
.caption {
    padding: 0.8rem;
    text-align: center;
}


footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333;
}

footer h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
    
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.fa {
    padding: 10px;
    font-size: 10px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Instagram */
  .fa-instagram {
    background: #fb3958;
    color: white;
  }
.fa-snapchat {
    background:#e9e515;
    color: white;
}